h3{
    color: rgb(255, 168, 226);
    background-color: rgb(158, 7, 70);
    text-align: center;
}

p1{
    color: rgb(255, 168, 226);
    background-color: rgb(158, 7, 70);
    text-align: left;
}
